# ——— Node & build ———
node_modules/

# ——— Fuentes fuera de src (ya las moveremos) ———
/fonts/
!src/assets/fonts/**

# ——— Entorno macOS / VS Code ———
.DS_Store
.vscode/

# ——— Logs ———
npm-debug.log*

# Local Netlify folder
.netlify/
